

body{
    background:#000;
    animation:luxury 1s ease;
}

@keyframes luxury{
    from{
        opacity:0;
        filter:blur(10px);
        transform:scale(1.05);
    }
    to{
        opacity:1;
        filter:blur(0);
        transform:scale(1);
    }
}



*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial,sans-serif;
}

body{
    background:#000;
    display:flex;
    justify-content:center;
    align-items:center;
    min-height:100vh;
}

.container{

    width:700px;

    background:#111;

    padding:35px;

    border-radius:15px;

    border:2px solid orange;

    box-shadow:0 0 20px orange;

}

h1{

    text-align:center;

    color:orange;

    margin-bottom:10px;

}

.thankyou{

    text-align:center;

    color:white;

    margin-bottom:25px;

}

.order-box{

    background:#1b1b1b;

    padding:20px;

    border-radius:10px;

}

.order-box h2{

    color:orange;

    margin-bottom:15px;

}

table{

    width:100%;

    border-collapse:collapse;

}

td{

    padding:12px;

    color:white;

    border-bottom:1px solid #444;

}

td:first-child{

    color:orange;

    font-weight:bold;

}

.delivery{

    margin-top:25px;

    background:#1b1b1b;

    padding:20px;

    border-radius:10px;

    text-align:center;

}

.delivery h2{

    color:orange;

}

.delivery p{

    color:white;

    font-size:20px;

    margin-top:10px;

}

.back-btn{
     font-style: italic;

    display:block;

    width:170px;

    margin:30px auto 0;

    text-align:center;

    text-decoration:none;

    background:orange;

    color:black;

    padding:14px;

    border-radius:8px;

    font-weight:bold;

}

.back-btn:hover{

    background:#ffb84d;

}